[Desktop Entry]
Type=Application
Version=0.9.4
Name=Time Doctor 2
Comment=An application for tracking your working hours.
Icon=/home/prakash/timedoctor2/timedoctor2.png
Exec=/home/prakash/timedoctor2/timedoctor2
Terminal=false
Path=/home/prakash/timedoctor2